<!DOCTYPE html>
<html>

<head>
	<title>Todo List</title>
	<link rel="icon"
	      type="image/png"
	      href="images/logo.png">

	<!-- Import CSS -->
	<link rel="stylesheet"
	      type="text/css"
	      href="css/bootstrap.min.css">
	<link rel="stylesheet"
	      type="text/css"
	      href="css/index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<h2>Todos:</h2>
		<ol>

			<li v-for="todo in todos">
				<label>
					<!-- <input type="checkbox"
					       v-on:change="toggle(todo)"
					       v-bind:checked="todo.done">

					<span v-bind:style="{textDecoration: todo.done ? 'line-through' : ''}">
						{{ todo.text }}
					</span> -->

					<div class="view">
						<input type="checkbox"
					       v-on:change="toggle(todo)"
					       v-bind:checked="todo.done">

						<span v-bind:style="{textDecoration: todo.done ? 'line-through' : ''}">
							{{ todo.text }}
						</span>
					</div>

					<button @click="edit(todo)">Edit</label>

					<button @click="remove(todo)">Remove</button>
					<input id="editText" class="edit" type="text" style="display: none;" 
							v-model="todo.text"
							v-todo-focus="todo == editedTodo"
							@blur="doneEdit(todo)"
							@keyup.enter="doneEdit(todo)"
							@keyup.esc="cancelEdit(todo)">
				</label>
			</li>			
		</ol>

		<button @click="deleteAll">
			Clear all
		</button>
	</div>


	<script src="js/index.js"></script>
</body>

</html>